@model WorkOrder.Core.Entities.Notification

@{
    ViewData["Title"] = "EditNotification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Güncelle</h2>
<br />

@using(Html.BeginForm("UpdateNotification" , "Admin", FormMethod.Post))
{
    
    <div class="form-group">
        <div class="d-none">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id)
    </div >
        @Html.LabelFor(m => m.Header)
        @Html.TextBoxFor(m =>m.Header)
        @Html.LabelFor(m => m.Body)
        @Html.TextBoxFor(m =>m.Body)
        @Html.LabelFor(m => m.CaseType)
        @Html.DropDownListFor(x => x.CaseType, (IEnumerable<SelectListItem>) ViewBag.CaseTypes)
    </div>
    <button type="submit" class="btn btn-primary submit mb-4 justify-content-center">Kaydet</button>
}


