@using WorkOrder.Core.Entities
@model List<WorkOrders>
@{
    ViewData["Title"] = "WorkAssignment";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>İş Atama</h2>

<table class="table table-sm" >
    <tr>
        <th>#</th>
        <th>Departman</th>
        <th>İşi Yapacak Kişi</th>
        <th>İş</th>
        <th>Bitiş</th>
        <th>Sonuç</th>
        <th>Durum</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Department.Name</td>
            <td>@item.User.Name @item.User.LastName</td>
            <td>@item.Job</td>
            <td>@item.DateOfFinish.ToString("M")</td>
            <td>@item.Result</td>
            <td>@item.CaseType.Name</td>
            <td><a href="~/Manager/UpdateWorkAssignment/@item.Id" class="link-primary"><button class="btn btn-primary submit mb-4">İşi Ata</button></a></td>  </tr>
    }
</table>
